html {
  background-image: url("../img/bg_laptop.jpg");
  background-size: cover;
}
body {
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  line-height: 1.6;
}
.container {
  margin: 0 auto;
  width: 960px;
}
h1 {
  background-color: #fff;
  padding: 10px;
}
h2 {
  border-bottom: 1px dashed #7e9f19;
  margin: 0;
}
.bloco {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
}
img {
  border: 1px solid #999;
  float: left;
  margin: 10px 10px 0 0;
  padding: 2px;
  width: 100px;
  height: auto;
}
